<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}" />
    <link th:rel="stylesheet" th:href="@{/css/stile.css}" />
    <link th:rel="stylesheet" th:href="@{/css/index.css}" />
    <link th:rel="stylesheet" th:href="@{/css/card.css}" />
    <link th:rel="stylesheet" th:href="@{/css/navbar.css}" />
    <link th:rel="stylesheet" th:href="@{/css/adminOptions.css}" />
</head>

<body class="bg-dark">

    <div class="">

        <div th:insert="~{fragments/navbar :: navBar}"></div>

        <div th:if="${message != null && messageClass != null}">
            <div class="alert text-center" th:classappend="${messageClass}">
                <p th:text="${message}"></p>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped text-center align-middle">
                <thead class="table-dark">
                    <tr>
                        <th style="width: 120px; max-width: 150px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
                            class="resizable">Nome</th>
                        <th style="width: 120px; max-width: 150px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
                            class="resizable">Codici</th>
                        <th class="resizable">Descrizione</th>
                        <th class="resizable"
                            style="width: 120px; max-width: 150px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                            Disponibilità</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>
                            <input type="text" id="searchNameInput" class="form-control form-control-sm"
                                placeholder="Cerca nome..." onkeyup="nameFilterTable()">
                        </th>
                        <th>
                            <input type="text" id="searchCodeInput" class="form-control form-control-sm"
                                placeholder="Cerca codice..." onkeyup="codeFilterTable()">
                        </th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="articolo : ${articoli}">
                        <td th:text="${articolo.name}"></td>
                        <td>
                            <div th:if="${articolo.codici != null and !#lists.isEmpty(articolo.codici)}">
                                <span th:each="codice : ${articolo.codici}" class="badge bg-secondary rounded-pill me-1"
                                    th:text="${codice.code}"></span>
                            </div>
                            <div th:if="${articolo.codici == null or #lists.isEmpty(articolo.codici)}">
                                <span class="text-muted">Nessun codice</span>
                            </div>
                        </td>
                        <td th:text="${articolo.descrizione}"></td>
                        <td th:text="${articolo.quantità}"></td>
                        <td><div th:insert="~{fragments/buttons :: seeArticolo('/articolo/' + ${articolo.getId()})}"></div></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div th:insert="~{fragments/footer :: footer}"></div>
    <script th:src="@{/js/magazzinoSearch.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    </div>

</body>

</html>