<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">
    <link th:rel="stylesheet" th:href="@{/css/stile.css}" />
    <link th:rel="stylesheet" th:href="@{/css/navbar.css}" />
</head>

<body class="bg-dark">


    <div class="bg-white" style="background-image: url('/imgs/sfondo/background.jpg'); background-size: cover;">

        <div th:replace="~{fragments/contattiCard :: contattiCard}"></div>
        
    </div>


    <div th:insert="~{fragments/footer :: footer}"></div>


    <!--JS-->
    <script th:src="@{/js/app.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>

</html>