<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link th:rel="stylesheet" th:href="@{/css/stile.css}" />
    <link th:rel="stylesheet" th:href="@{/css/card.css}" />
    <link th:rel="stylesheet" th:href="@{/css/navbar.css}" />
</head>

<body class="bg-dark d-flex justify-content-center">

    <div class="w-100 mx-4 m-3"> 

        <div th:insert="~{fragments/navbar :: navBar}"></div>
        <div th:if="${message != null && messageClass != null}">
            <div class="alert text-center" th:classappend="${messageClass}">
                <p th:text="${message}"></p>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped text-center">
                <thead class="table-dark">
                    <tr>
                        <th style="width: 5%;">Ticket Id</th>
                        <th style="width: 30%;">Descrizione</th>
                        <th style="width: 10%;">Operatore</th>
                        <th style="width: 10%;">Status</th>
                        <th style="width: 10%;">Note</th>
                        <th style="width: 10%;">Data Apertura</th>
                        <th style="width: 10%;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="ticket : ${tickets}">
                        <td style="width: 5%;" th:text="${ticket.getId()}"></td>
                        <td style="width: 30%;" th:text="${ticket.getDescrizione()}"></td>
                        <td class="fs-6" style="width: 10%;" th:text="${ticket.getOperatoreUsername()}"></td>
                        <td class="fs-6" style="width: 10%;" th:text="${ticket.getStatusName()}"
                            th:classappend="${ticket.getStatusName() == 'APERTO' ? 'bg-success' : 
                            (ticket.getStatusName() == 'CHIUSO' ? 'bg-danger' : 
                            (ticket.getStatusName() == 'IN_CORSO' ? 'bg-warning' : ''))}"></td>
                        <td style="width: 10%;" th:text="${ticket.getNote()}"></td>
                        <td style="width: 10%;" th:text="${ticket.getDataCreazione()}"></td>
                        <td class="d-flex justify-content-start">
                            <div class="me-2">
                                <div th:insert="~{fragments/buttons :: seeTicket('/ticket/' + ${ticket.getId()})}"></div>
                            </div>
                            <div>
                                <div th:insert="~{fragments/buttons :: editTicket('/editTicket/' + ${ticket.getId()})}"></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:insert="~{fragments/footer :: footer}"></div>

    </div>

</body>

</html>
