<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}" />
    <link th:rel="stylesheet" th:href="@{/css/stile.css}" />
    <link th:rel="stylesheet" th:href="@{/css/card.css}" />
    <link th:rel="stylesheet" th:href="@{/css/navbar.css}" />
</head>

<body class="bg-dark d-flex justify-content-center">

    <div class="w-100 mx-4 m-3">

        <div th:insert="~{fragments/navbar :: navBar}"></div>
        <div th:if="${message != null && messageClass != null}">
            <div class="alert text-center" th:classappend="${messageClass}">
                <p th:text="${message}"></p>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped text-center">
                <thead class="table-dark">
                    <tr>
                        <th style="width: 5%;">Operatore Id</th>
                        <th style="width: 30%;">Username</th>
                        <th style="width: 10%;">Operatore</th>
                        <th style="width: 10%;">Tickets ID</th>
                        <th style="width: 10%;">Status</th>
                        <th style="width: 10%;">Abilitato</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}">
                        <td style="width: 5%;" th:text="${user.getId()}"></td>
                        <td style="width: 30%;" th:text="${user.getUsername()}"></td>
                        <td class="fs-6" style="width: 10%;" th:text="${user.getEmail()}"></td>
                        <td class="fs-6" style="width: 10%;">
                            <span th:each="ticket, iterStat : ${user.tickets}">
                                <a th:href="@{'/ticket/' + ${ticket.getId()}}"><span th:text="${ticket.id}"></span></a>
                                <span th:if="${iterStat.index != user.tickets.size() - 1}">, </span>
                            </span>
                        </td>
                        <td style="width: 10%;">
                            <span
                                th:classappend="${user.getUserStatus().getUserStatusType().name() == 'DISPONIBILE' ? 'bg-success text-white' : 'bg-danger text-white'}"
                                class="badge rounded-pill">
                                <span
                                    th:text="${user.getUserStatus().getUserStatusType().name() == 'DISPONIBILE' ? 'Disponibile' : 'Non Disponibile'}"></span>
                            </span>
                        </td>
                        <td style="width: 10%;">
                            <span th:classappend="${user.isEnable() ? 'bg-success text-white' : 'bg-danger text-white'}"
                                class="badge rounded-pill">
                                <span th:text="${user.isEnable() ? 'Abilitato' : 'Disabilitato'}"></span>
                            </span>
                        </td>
                        <td class="d-flex justify-content-start">
                            <div class="me-2"
                                th:insert="~{fragments/buttons :: editUser('/editUser/' + ${user.getId()})}"></div>
                            <div class="me-2" sec:authorize="hasAuthority('ADMIN')">
                                <form th:action="@{/deleteUser/{id}(id=${user.getId()})}" method="post">
                                    <button type="submit" class="btn btn-danger"><i class="bi bi-trash"></i></button>
                                </form>
                            </div>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div th:insert="~{fragments/footer :: footer}"></div>