<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>

<body>
    <a th:fragment="seeTicket(link)" th:href="@{${link}}" class="btn btn-primary">
        Visualizza
    </a>
    <a th:fragment="addNote(link)" th:href="@{${link}}" class="btn btn-primary">
        Aggiungi Note
    </a>

    <a th:fragment="editTicket(link)" th:href="@{${link}}"
        class="btn btn-info">
        Edit
    </a>

    <a th:fragment="editUser(link)" th:href="@{${link}}" class="btn btn-info">
        Edit
    </a>
    <a th:fragment="deleteTicket(link)" th:href="@{${link}}" class="btn btn-info">
        Delete
    </a>
    <a th:fragment="goToHome" th:href="@{/index}" class="btn btn-primary">
        Home
    </a>

</body>

</html>