<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>

<body>
    <a th:fragment="seeTicket(link)" th:href="@{${link}}" class="btn btn-primary">
        Dettagli Ticket
    </a>
    <a th:fragment="editDescrizione(link)" th:href="@{${link}}" class="btn btn-warning">
        Modifica Descrizione
    </a>
    <a th:fragment="addNota(link)" th:href="@{${link}}" class="btn btn-success">
        Aggiungi Nota
    </a>
    <a th:fragment="editTicket(link)" th:href="@{${link}}" class="btn btn-info">
        Modifica Ticket
    </a>
    <a th:fragment="editUser(link)" th:href="@{${link}}" class="btn btn-secondary">
        Modifica Utente
    </a>
    <a th:fragment="editOperatore(link)" th:href="@{${link}}" class="btn btn-secondary">
        Modifica Operatore
    </a>
    <a th:fragment="deleteTicket(link)" th:href="@{${link}}" class="btn btn-danger">
        Elimina Ticket
    </a>
    <a th:fragment="goToHome" th:href="@{/index}" class="btn btn-primary">
        Torna alla Home
    </a>
</body>

</html>
