<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>

<body>
    <th:block th:fragment="navBar">
        <div class="navbar text-white m-1 p-2 rounded">
            <div class="row align-items-center justify-content-between w-100">
                <div class="col-md-8 d-flex align-items-center gap-4">
                    <h4 class="m-0">
                        <a th:href="@{'/index'}" class="text-white">Tickets</a>
                    </h4>
                    <h6 class="m-0" sec:authorize="hasAuthority('ADMIN')">
                        <a th:href="@{'/operatori'}" class="text-white">Operatori</a>
                    </h6>
                    <h6 class="m-0" sec:authorize="hasAuthority('ADMIN')">
                        <a th:href="@{'/createUser'}" class="text-white">Crea Operatore</a>
                    </h6>
                    <h6 class="m-0" sec:authorize="hasAuthority('ADMIN')">
                        <a th:href="@{'/addTicket'}" class="text-white">Aggiungi Ticket</a>
                    </h6>
                    <h6 class="m-0" sec:authorize="hasAuthority('ADMIN')">
                        <a th:href="@{'/API'}" class="text-white">Rest</a>
                    </h6>
                    <h6 class="m-0" sec:authorize="hasAuthority('ADMIN')">
                        <a th:href="@{'/addAPI'}" class="text-white">Aggiungi Rest User</a>
                    </h6>
                    <h6 class="m-0" sec:authorize="hasAuthority('ADMIN')">
                        <a th:href="@{'/clienti'}" class="text-white">Clienti</a>
                    </h6>
                    <h6 class="m-0" sec:authorize="hasAuthority('ADMIN')">
                        <a th:href="@{'/addCliente'}" class="text-white">Aggiungi Cliente</a>
                    </h6>
                </div>

                <div class="col-md-4 d-flex align-items-center justify-content-end gap-3">
                    <h6 class="m-0 d-flex align-items-center gap-2">
                        <span th:text="'Benvenuto, '"></span>
                        <a th:href="@{'/editUser/' + ${currentUserObj.getId()}}" class="text-white">
                            <span th:text="${currentUserObj.username}"></span>
                        </a>
                        | 
                        <span>Cambia status in:</span>
                    </h6>
                    
                    <div th:switch="${currentUserObj.status.userStatusType}">
                        <form th:action="@{'/setOperatoreNonDisponibile/' + ${currentUserObj.getId()}}" method="post"
                              th:if="${currentUserObj.getUserStatus().getStatusName() == 'DISPONIBILE'}">
                            <button type="submit" class="btn btn-warning">Non Disponibile</button>
                        </form>
                        <form th:action="@{'/setOperatoreDisponibile/' + ${currentUserObj.getId()}}" method="post"
                              th:if="${currentUserObj.getUserStatus().getStatusName() == 'NON_DISPONIBILE'}">
                            <button type="submit" class="btn btn-success">Disponibile</button>
                        </form>
                    </div>
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="btn btn-danger">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </th:block>
</body>

</html>
