<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>

<body>
<th:block th:fragment="navBar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark m-1 p-2 rounded shadow-lg">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{'/index'}">Tickets</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                    aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                        <a class="nav-link" th:href="@{'/admin_panel'}">AdminPanel</a>
                    </li>
                </ul>

                <div class="d-flex align-items-center gap-2 text-white">
                    <span>Benvenuto,</span>
                    <a th:href="@{'/dashboard/' + ${currentUserObj.getId()}}" class="text-white text-decoration-none">
                        <span th:text="${currentUserObj.username}"></span>
                    </a>
                    <span>| Cambia status in:</span>

                    <div th:switch="${currentUserObj.status.userStatusType}">
                        <form th:action="@{'/setOperatoreNonDisponibile/' + ${currentUserObj.getId()}}" method="post"
                              th:if="${currentUserObj.getUserStatus().getStatusName() == 'DISPONIBILE'}">
                            <button type="submit" class="btn btn-warning btn-sm">Non Disponibile</button>
                        </form>
                        <form th:action="@{'/setOperatoreDisponibile/' + ${currentUserObj.getId()}}" method="post"
                              th:if="${currentUserObj.getUserStatus().getStatusName() == 'NON_DISPONIBILE'}">
                            <button type="submit" class="btn btn-success btn-sm">Disponibile</button>
                        </form>
                    </div>
                    <form th:action="@{/logout}" method="post" class="ms-2">
                        <button type="submit" class="btn btn-danger btn-sm">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</th:block>
</body>

</html>
