<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">
    <link th:rel="stylesheet" th:href="@{/css/styles.css}" />
    <link th:rel="stylesheet" th:href="@{/css/accessDenied.css}" />
</head>

<body>

    <div class="access-denied-container">
        <div class="access-denied-card">
            <h2>🚫</h2>
            <p>Lo User che stai cercando, non esiste!</p>
            <a href="/index" class="btn btn-danger">Torna alla schermata principale</a>
        </div>
    </div>

    <!-- JS -->
    <script th:src="@{/js/app.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
